.container {
    align-items: center;
    height: 100%;
    width: 100%;
}
.card {
    width: 100%;
    height: 100%;
    flex-direction: column;
}
/*.outline{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*}*/
.quote{
    height: 100%;
    width: 100%;
    background-color: darkgray;

}
.quoteText{
/*    background-color: red;*/
    color: red;
    word-spacing: 10px;
    adapt-height: true;
/*    height: 40%;*/
/*    width: 40%;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    font-size: 30px;*/
/*    color: black;*/
}

.swiper-item {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}
.primary-item {
    flex-direction: column;
    justify-content: flex-start;
}
/*天气图标*/
.show-up {
    width: 100%;
    height: 20%;
    background-color: chartreuse;
}
.show-mid {
    width: 100%;
    height: 50%;
    background-color: aqua;
}
.img-mid {
    margin-left: 15%;
    width: 50%;
    height: 100%;
}
.text-mid {
    width: 40%;
    height: 100%;
    flex-direction: column;
    text-align: center;
}
.city {
    margin-top: 25%;
    height: 25%;
    width: 100%;
    font-size: 38px;
    text-align: center;
}
.weather {
    margin-top:15%;
    height: 25%;
    width: 100%;
    font-size: 38px;
    text-align: center;
}
.show-bottom {
    width: 60%;
    height: 20%;
    background-color: aqua;
}
.temp-avg {
    width: 60%;
    height: 100%;
    font-size: 38px;
    color: azure;
    background-color: black;
}
.temp-feel {
    width: 40%;
    height: 100%;
    font-size: 32px;
    color: azure;
    background-color: red;
}
.warning-item {
    background-color: #ff7500;
}
.success-item {
    background-color: #41ba41;
}


.qrCode {
    width: 200px;
    height: 200px;
}

.rect{
    width: 200px;
    height: 200px;
    background-color: #f76160;
    animation-name: Go;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes Go
{
    from {
        background-color: #f76160;
    }
    to {
        background-color: #09ba07;
    }
}