.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.outline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: purple;
}
.temperature{
    background-color: firebrick;


}
.weatherIcon{
    height: 40px;
    width: 40px;
    background-color: azure;


}
.quote{
    background-color: darkgray;

}
.widget{

}





















.rect{
    width: 200px;
    height: 200px;
    background-color: #f76160;
    animation-name: Go;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes Go
{
    from {
        background-color: #f76160;
    }
    to {
        background-color: #09ba07;
    }
}