.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*.outline{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*}*/
.temperature{
    height: 40%;
    width: 40%;
    background-color: firebrick;
}
.tempertureText{
    align-items: flex-end;
    width: 100%;
    height: 50%;
    color: azure;
    font-size: 30px;
    background-color: purple;

    width: 200px;
    max-lines: 1;
    text-overflow: ellipsis;
    text-valign: middle;
    line-height: 40px;
    text-decoration: underline;
    text-decoration-color: red;
    text-indent: 20px;
    white-space: pre;
    
}
.quote{
/*    height: 40%;*/
/*    width: 40%;*/
    height: 100%;
    width: 100%;
    background-color: darkgray;

}
.quoteText{
/*    background-color: red;*/
    color: red;
    word-spacing: 10px;
    adapt-height: true;


/*    height: 40%;*/
/*    width: 40%;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    font-size: 30px;*/
/*    color: black;*/

}
.widget{

}

.swiper-item {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}
.primary-item {
    background-color: #007dff;
}
/*天气图标*/
.show {
    width: 256px;
    height: 256px;
}
.warning-item {
    background-color: #ff7500;
}
.success-item {
    background-color: #41ba41;
}


.qrCode {
    width: 200px;
    height: 200px;
}

















.rect{
    width: 200px;
    height: 200px;
    background-color: #f76160;
    animation-name: Go;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes Go
{
    from {
        background-color: #f76160;
    }
    to {
        background-color: #09ba07;
    }
}