/* xxx.css */
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 454px;
  height: 454px;
  background-color: white;
}
.city_name{
  margin-top: 5%;
  height: 15%;
  width: 40%;
/*  background-color: blue;*/
  color: black;
  font-size: 38px;
  text-align: center;
}
.chart {
  width:70%;
  height: 30%;
  background-color: red;
}
/*.button {*/
/*  width: 280px;*/
/*  border-radius: 0px;*/
/*}*/
